@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*General CSS*/
*{
    overflow-y: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

.header{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flexbox;
    background-image: linear-gradient(grey, lightgrey);
    background-image: url(/Images/Vector_2640.jpg);
    background-position: center;
    background-size: cover;
}

.header::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0pc;
    bottom: 0px;
    left: 0px;
}

.nav-links{
    width: 100%;
    margin:auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links ul li{
    list-style: none;
    font-weight: bold;
    display: inline-block;
    margin: 0 40px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color:cornsilk;
}

.img{
    position: absolute;
    width: 500px;
    left: -45px;
    top: 10%;
}

.logo{
    position: absolute;
    width: 400px;
    left: -25px;
    top: 10%;
}

.citation{
    position: absolute;
    bottom: 5px;
    right: 5px;
    text-align: right;
    color: rgb(188, 188, 226);
}

/*Main CSS*/

.name {
position:absolute;
left: 50%;
top: 65%;
transform: translate(-50%, -50%);
}

h1 {
    text-shadow: 2px 2px red;
    margin-left: 25px;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: bold;
}

h3 {
    text-shadow: 2px 2px red;
    margin-left: 50px;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 50px;
    margin-bottom: 7px;
}

p {
    align-content:baseline;
    text-shadow: 2px 2px red;
    margin-left: 50px;
    font-size: 15px;
    letter-spacing: 20px;
}

/*Contact Form*/

.form {
    position: inherit;
    background: rgba(27,31,34,0.80);
    width: 640px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
}

.form.title h2 {
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 32px;
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label {
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

form .half .item input {
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
}

form .full {
    margin-bottom: 24px;
}

form .full textarea {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
}

form .action {
    margin-bottom: 32px;
}

form .action input {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
}

form .icons a{
    border:  1px solid white;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
    font-stretch: 600;
    width: 38px;
    margin-right: 10px;
}

label, h2, input, textarea {
    color: antiquewhite;
}

/*About CSS*/

.about {
    position:absolute;
    top: 45%;
    margin-left: 20px;
    margin-right: 20px;
}

h2 {
    color:aliceblue;
    text-shadow: 2px 2px red;
    font-size: 25x;
    font-weight: 400;
    margin-bottom: 20px;
}

h4 {
    color:aliceblue;
    text-shadow: 2px 2px red;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}

p {
    text-justify: auto;
    text-shadow: 2px 2px red;
}

/*Whats Happening CSS*/

.container {
    display: grid;
    grid-template-rows: 3 1fr;
    padding: 20px;
    gap: 20px;
    text-align: center;
    color: aliceblue;
}

.hobby1 {
    grid-row: 1/2;
    position: relative;
}

.hobby {
    width: 100%;
}

.hobby2 {
    grid-row: 2/3;
    position: relative;
}

.work {
    width: 100%;
}

.hobby3 {
    grid-row: 3/4;
    position: relative;
}

.tetsujin {
    width: 100%;
}


@media screen and ( min-width : 800px ) {body { background-color: #bbb; }
#site 

    /*General Desktop CSS*/
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;;
    }

    img {
        width: 500px;
    }

    .img{
        position: absolute;
        width: 500px;
        left: 7%;
        top: 20%;
    }

    .logo{
        position: absolute;
        width: 500px;
        left: 7%;
        top: 20%;
    }

    /*Main CSS*/
    
    .name {
        position:absolute;
        left: 60%;
        top: 40%;
        transform: translate(-50%, -50%);
    }

    h1 {
        font-size: 110px;
        letter-spacing: 20px;
        font-weight: bold;
    }

    h3 {
        font-size: 60px;
        font-weight: 400;
        letter-spacing: 40px;
        margin-bottom: 7px;
    }

    p {
        font-size: 30px;
        letter-spacing: 20px;
    }

    /*About CSS*/

    .about {
        position:absolute;
        left: 60%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    h2 {
        color:aliceblue;
        font-size: 40px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    h4 {
        color:aliceblue;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 30px;
    }

    /*Whats Happening CSS*/

    .container {
        display: grid;
        padding: 20px;
        grid-template-columns: repeat (2, auto);
        grid-template-rows: repeat (2, auto);
        gap: 5px;
    }

    .hobby1 {
        grid-column: 1/2;
        grid-row: 1/2;
        position: relative;
        align-content: center;
    }

    .hobby {   
        width: 60%;
    }

    .hobby2 {
        grid-column: 2/3;
        grid-row: 1/3;
        position: relative;
        align-content: center;
    }

    .work {
        width: 60%;
    }

    .hobby3 {
        grid-column: 1/2;
        grid-row: 2/3;
        position: relative;
        align-content: center;
    }

    .tetsujin {
        width: 60%;
    }

    /*Hobby CSS*/

    .gunpla {
        left: 50%;
        right: 10%;
    }

    .kits {
        width: 300px;
    }

    /*SUCCESS CSS*/
    .success {
        color:burlywood;
        margin-top: 200px;
        margin-left: 150px;
    }

}
